<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <appSettings>
        <add key="working directory" value="c:\\KlinkALink" />
        <add key="project folder" value="TestShc" />
        <add key="run folder" value="SortableSetGen" />
        <add key="control file" value="config1" />
        <add key="starting config index" value="1" />
        <add key="config count" value="1" />
        <add key="log level" value="1" />
    </appSettings>
    
</configuration>
