<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <appSettings>
        <add key="working directory" value="c:\KlinkALink" />
        <add key="project folder" value="1024retstB" />
        <add key="control file" value="config1" />
        <add key="starting config index" value="2" />
        <add key="config count" value="6" />
        <add key="log level" value="1" />
        <add key="iteration count" value="3" />
    </appSettings>
    
</configuration>
