<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <appSettings>
        <add key="working directory" value="c:\Klink" />
        <add key="project folder" value="ShcT" />
        <add key="report file name" value="quart0" />
        <add key="control file" value="config1" />
        <add key="starting config index" value="0" />
        <add key="config count" value="30" />
        <add key="procedure" value="doRun" />
        <add key="log level" value="1" />
        <add key="iteration count" value="30" />
        <add key="use parallel" value="true" />
    </appSettings>
    
</configuration>
